@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root {
    --yellow: #fcdd26;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s cubic-bezier(.38,1.15,.7,1.12); 
}

*::selection {
    background: #333;
    color: var(--yellow);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.2rem;
}

html::-webkit-scrollbar-track{
    background: #333;
}

html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}

/*Header Sección Estilos*/
section {
    padding: 1rem 5%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color: #333;
    background: var(--yellow);
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
    z-index: -1;
    background: #444;
    transition: .3s cubic-bezier(.38,1.15,.7,1.12);
}

.btn:hover:before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btn:hover{
    color: var(--yellow);
}

.heading {
    text-align: center;
    padding: 1rem;
    color: #333;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
    font-size: 3rem;
    padding-top: 8rem;
}

.heading i {
    padding: 0 .5rem;
    color: var(--yellow);
}



header{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

#search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--yellow);
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
}

#search-box.active {
    transform: scaleY(1);
    opacity: 1;
}
 

#search-box #search {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    font-size: 2rem;
}


#search-box #search::placeholder {
    text-transform: capitalize;
}

#search-box label {
    font-size: 3rem;
    color: #333;
    padding-left: 2rem;
    cursor: pointer;
}

header .logo {
    font-size: 2.5rem;
    color: #333;
}

header .logo i {
    transform: rotate(-65deg);
    color: var(--yellow);
}

header .navbar a {
    color: #333;
    font-size: 1.7rem;
    padding: 0 1rem;
}

header .navbar a:hover {
    color: var(--yellow);
}

header .icons i, header .icons a{
    font-size: 2.5rem;
    color: #333;
    padding-left: 1.5rem;
    cursor: pointer;
}

header .icons i:hover, header .icons a:hover {
    color: var(--yellow);
}

.fa-times{
    transform: rotate(-360deg);
}

#menu {
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    display: none;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 1000;
}

/* Home Sección Estilos */
.home {
    min-height: 75vh;
    background: url(/img/home-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .content span {
    color: #333;
    font-size: 2rem;
}

.home .content h3 {
    color: #333;
    font-size: 5.5rem;
}

.home .content .btn{
    background: #fff;
}

/* Categorias Sección Estilo */
.category .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.category .box-container .box {
    width: 25rem;
    margin: 2rem;
    text-align: center;
}

.category .box-container .box img {
    width: 100%;
}

.category .box-container .box h3 {
    color: #333;
    font-size: 2rem;
    padding: 1rem 0;
}

/* Popular Sección Estilos */
.featured .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.featured .box-container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    flex: 1 1 40rem;
    position: relative;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.featured .box-container .box img {
    width: 20rem;
}

.featured .box-container .box .price {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 6rem;
    width: 6rem;
    text-align: center;
    line-height: 6rem;
    border-radius: 50%;
    background: var(--yellow);
    color: #333;
    font-size: 1.5rem;
}

.featured .box-container .box .content {
    padding: 1rem;
}

.featured .box-container .box .content .stars i {
    color: var(--yellow);
    font-size: 1.5rem;
}

.featured .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
    padding-top: .5rem;
}


.featured .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

/* Ofertas Estilos */


.deal {
    min-height: 75vh;
    background: url(/img/deal-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-flow: column;
}

.deal span{
    color: #eee;
    font-size: 2rem;
}


.deal h3{
    color: #fff;
    font-size: 4.5rem;
    padding: 1rem 0;
    width: 45rem;
    text-align: center;
}

/* Productos Sección Estilos */
.products .box-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

.products .box-container .box {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 1rem;
    margin: 1.5rem;
    flex: 1 1 30rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.products .box-container .box img {
    width: 15rem;
}

.products .box-container .box .content{
    padding: 1rem;
}

.products .box-container .box .content .stars i{
    font-size: .5rem;
    color: var(--yellow);
}

.products .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    color: #666;
}

.products .box-container .box .content .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
}

/* Ofertas Sección Estilos*/
.offer .box-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

.offer .box-container .box {
    flex: 1 1 40rem;
    margin: 2rem;
    position: relative;
}

.offer .box-container .box img {
    width: 100%;

}

.offer .box-container .box .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #333;
}

.offer .box-container .box .content span {
    font-size: 2rem;
}


.offer .box-container .box .content h3 {
    font-size: 3.5rem;
}

.offer .box-container .box:first-child .content .btn {
    background: #fff;
}

.offer .box-container .box:last-child .content {
    color: #fff;
}

/* Sección Contacto Estilos */
.contact {
    background: url(/img/contact-bg.webp);
    background-size: cover;
    background-position: center;
    padding-bottom: 7rem;
}

.contact .heading i {
    color: #fff;
}

.contact form {
    padding: 2rem 10%;
    text-align: center;
}

.contact form .inputbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .inputbox input, .contact form textarea {
    padding: 1rem 2rem;
    margin: 1rem 0;
    width: 49%;
    font-size: 1.7rem;
    border-radius: .5rem;
    text-transform: none;
}

.contact form .inputbox input::placeholder, .contact form textarea::placeholder {
    text-transform: capitalize;
}   


.contact form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}

.contact form .btn {
    cursor: pointer;
    background: #fff;
}

.contact form .btn:hover {
    background: #333;
}

.footer .share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}


.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    padding: 0;
}

.footer .credit {
    padding: 2rem 1rem;
    font-size: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    text-align: center;
    color: #333;
}

.footer .credit span {
    color: var(--yellow);
}



/*Media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    #menu {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 2rem;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header .navbar a {
        font-size: 2rem;
        padding: 1.5rem;
        display: block;
    }
    
    header .navbar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }

    section {
        padding: 1rem 3%;
    }

    .home {
        background-position: left;
    }

    .home .content h3 {
        font-size: 4.3rem;
    }

    .featured .box-container .box {
        flex-flow: column;
    }

    .featured .box-container .box img {
        width: 100%;
    }

    .products .box-container .box {
        flex-flow: column;
    }

    .products .box-container .box img {
        width: 100%;
    }

    .products .box-container .box .content {
        text-align: center;
    }

    .offer .box-container .box .content h3{
        font-size: 2.5rem;
    }

    .contact form {
        padding: 2rem;
    }
    
    
    .contact form .inputbox input {
        width: 100%;
    }

}

@media (max-width:400px){

    html{
        font-size: 55%;
    }

    .heading{
        font-size: 2.2rem;
    }

    .home {
        justify-content: center;
    }

    .home .content {
        text-align: center;
    }

    .category .box-container .box {
        width: 100%;
    }

    .deal h3 {
        width: auto;
        font-size: 4rem;
    }

    .offer .box-container .box .content span{
        font-size: 1.5rem;
    }


}
